@import '../../App.scss';
.Featured{
    height: 90vh;
    position: relative;

    .category{
        position: absolute;
        top: 80px;
        left: 80px;
        font-size: 30px;
        font-weight: 600;
        color:white;display:flex;
        align-items: center;
        
        select{
            cursor:pointer;
            background-color:var(--main-color);
            color:white;
            margin-left: 20px;
            padding: 5px;
            bottom: 1 solid white;
        }

    }
    img{
        height:100%;
        width: 100%;
        object-fit: cover;
    }
    .info{
        position: absolute;
        width: 35%;
        left: 50px;
        bottom: 100px;
        color:white;
        display: flex;
        flex-direction:column;
        .imgTitle{
            width: 60vw;
        }
    }
    .desc{
        margin: 20px 0;
        font-size:20px;
        font-weight: 700;
        color:darkgray;
        @include mobile {
            width: 60vw;
        }
    }
    .buttons{
        display: flex;
        button{
            padding:10px 20px;
            border:none;border-radius:5px;
            display: flex;
            align-items:center;
            justify-content:center;
            margin-right:10px ;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            &.play{
                background-color: white;
                color:var(--main-color);
            }
            &.more{
                background-color: gray;
                color: white;
            }
            span{
                margin-left: 5px;
            }
        }
    }
}